* {
    font-family: 'Press Start 2P', sans-serif;
    box-sizing: border-box;
  }

body {
    background-color: #FAF2D3;
    margin: 0;
}
#game {
    position: relative;
}

h1 {
    text-align: center;
    margin: 40px 0 25px 0;
}

.button {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#start-button, #reload-button {
    padding: 10px;
}

#headboard, .gameGrid {
    background-color: black;
    border: 15px solid black;
    position: relative;
}

#headboard {
    font-size: 16px;
    color: white;
    height: 50px;
    width: 390px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.gameGrid {
    height: 390px;
    width: 390px;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 30px);
    grid-template-rows: repeat(8, 15px);
}

.brickCell {
    border: 1px solid black;
}

.paddle {
    height: 15px;
    width: 90px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 135px;
}

.ball {
    height: 15px;
    width: 15px;
    background-color: white;
    position: absolute;
    bottom: 15px;
    left: 175px;
    border-radius: 50%;
}

.hidden {
    visibility: hidden;
}

.message, .timer {
    font-size: 20px;
    color: white;
    height: 45px;
    width: auto;
    position: absolute;
    bottom: 160px;
    left: 90px;
}

.instructions {
    font-size: 14px;
    line-height: 30px;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center
}

li {
    margin: 0 0 0 20px;
}

.timer {
    bottom: 130px;
    left: 180px;
}